* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    font-family: 'Press Start 2P', cursive;
    background-image: url('https://th.bing.com/th/id/R.3a2de183a39ac34e525a764a525e66e6?rik=BizmSwzJMqI9LA&riu=http%3a%2f%2fhdqwalls.com%2fwallpapers%2fpacman-256-b2.jpg&ehk=VpXr6SW9VxGbhaco3jbJ9bc2dF%2bRflorM360JyyWGmg%3d&risl=&pid=ImgRaw&r=0');
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
}

.title {
    font-family: 'Press Start 2P', cursive;
    font-size: 1.5rem;
    font-weight: 700;
    color: #eebb24; /* Pacman yellow color */
    margin-bottom: 2rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5), 
                 -2px -2px 4px rgba(0, 0, 0, 0.5); /* Border effect */
    background-color: #11050c54; /* Pacman blue color with opacity */
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.title:hover {
    color: #0300ff82; /* Change text color on hover */
    background-color: #ffcf40; /* Change background color on hover */
}




.cardHolder {
    display: grid;
    justify-content: space-between;
    gap: 1rem;
    width: 90%;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 1rem;
    font-family: 'Press Start 2P', cursive;
}

.card {
    border-radius: 0.5rem;
    padding: 1rem;
    background: radial-gradient(circle at 10% 50%, #ffcf409a 0%, #ffcf40a1 70%, #000000ab 71%, #000000 100%);
    box-shadow: 2px 3px 5px white;
    transition: transform 0.3s ease-in-out, border-color 0.3s ease-in-out; /* Added border-color transition */
    border: 2px solid transparent; /* Added border */
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 3px 5px 5px #d0ff00;
    border-color: #ffcf40; /* Border color on hover */
}

.cardTitle {
    font-family: 'Press Start 2P', cursive;
    color: #cff03c; /* Lighter shade color */
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
    position: relative;
    overflow: hidden;
    text-shadow: 
        -1px -1px 0 #000,  
         1px -1px 0 #000,
        -1px 1px 0 #000,
         1px 1px 0 #000; /* Black border effect */
    transition: color 0.3s ease-in-out;
}


.description {
    color: #f0f0f0; /* Lighter shade color */
    text-shadow: 1px 1px 2px #000, 
                 -1px -1px 2px #000, 
                 1px -1px 2px #000, 
                 -1px 1px 2px #000; /* Border effect */
}


.cardTitle::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #ffcf40; /* Pacman yellow color */
    transition: transform 0.3s ease-in-out; /* Smooth transform transition */
    transform: scaleX(0);
    transform-origin: right;
    
}

.card:hover .cardTitle {
    color: #000; /* Change title color on hover */
    text-shadow: 
        -1px -1px 0 #ffffff,  
         1px -1px 0 #ffffff,
        -1px 1px 0 #ffffff,
         1px 1px 0 #ffffff; 
}

.card:hover .cardTitle::after {
    transform: scaleX(1);
    transform-origin: left;
}


@keyframes colorChange {
    0% {
        background-position: 0%;
    }
    100% {
        background-position: 100%;
    }
}
